
    Hola. <p>
    Me llamo <%= autor%>,<img  width=70 height=70 id="yo" src="/images/yo.png" alt "Juange">, y vivo en
    <img  id="yo" src="http://www.madrid.es/assets/images/logo-madrid.png" alt "Juange">
    <p>
    y he modificado este código según lo indicado en el curso de node.js 2015 <p>
    <p>
    <a href="/">Volver al principio</a>
