
    Hola. <span>
    Me llamo <%= autor%> y vivo en
    <img  id="yo" src="http://www.madrid.es/assets/images/logo-madrid.png" alt "Juange">
    <hr>
    y he modificado este código según lo indicado en el curso de node.js 2015 <p>
    <hr>
    <a href="/">Volver al principio</a>
