<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <h1>Bienvenido a <%= title %> para MiriadaX 2015</h1>
    <p>Aqui podrás crear tus preguntas</p>
    <p><a href="/quizes/question"> Comienza por aqui</a></p>
  </body>
</html>
