<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <!meta http - equiv="refr esh" cont ent="5" es contraproductivo para autologout por inactividad />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
	
<script type="text/javascript" src="/javascripts/zepto.min.js" ></script>
<script type="text/javascript">
 var contador=31;

  $(function(){
    function mostrar_hora( ) {
      contador--;
      if (contador>0){
	$('#cuentaAtras').html("["+contador+"s]");
      }
      else{
        if (contador <-1){
		document.location.reload();
	}
	else{
		$('#cuentaAtras').html("[ Expirada ]");
	}
      }

    }
    setInterval(function(){mostrar_hora();}, 1000);
    mostrar_hora();
  })
</script>

</head> 

<body>
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<div id="page-wrap">
  <header class="main" id="h1">
  
  <%if(!session.user){%>
      <span class="right"><a href="/login">Login</a></span>
    <%}else{%>
      <span class="right"> (<%= session.user.username %>) <a href="/logout">Logout</a></span>
      <span class="right" id="cuentaAtras"></span>
    <%}%>
  
  
    <h2>MyQuiz<span>: este es un juego de preguntas pero puede ser otras cosas</span></h2>
  </header>

  <nav class="main" id="n1" role="navigation">
    <span><a href="/">Inicio</a></span>
    <span><a href="/quizes">Preguntas</a></span>
    <span><a href="/author">Creditos</a></span>
  </nav>


  <section class="main" id="s1">
   
   <%# DEPURA "<hr>< \%  JSON.stringify(errors) %  \><hr>"  %>
   
   
     <% if (errors.length) { %>
      <span id='ErrorMsgs'>
        Corregir errores:<br/>
	
        <% for (var i in errors) { %>
           <span> <%= errors[i].message %> </span><br/>
        <% } %>
      </span>
    <% } %>
    
  <div><%- body %></div>
  </section>

  <footer class="main" id="f1">
     <ul>
     <li>        <a href="http://es.wikipedia.org/wiki/Quiz">
        ¿Que es un Quiz?</a>
      </li>
      <li>
        <a href="https://github.com/juange2015/myquiz">
         Aquí en GitHub tienes disponible los fuentes.</a>
      </li>
      </ul>
  </footer>
</div>
</body> 
</html>