<!DOCTYPE html>
<html>
<head>
<title> MyQuiz </title>
<link rel='stylesheet' href='stylesheets/style.css' />
<head>
<body>
<h2> Myquiz: vamos a hacernos preguntas </h2>

    <%= respuesta %> <p>
    <a href="/quizes/question">Volver a probarlo</a>
  </p>
</body>
</html>
  
