   <form method="get" action="/quizes/answer">
   Tema: <%= tema %>
   Pregunta : <%= pregunta %> <p>
   <input type="text" name="respuesta" value="Contesta aqui"/>
   <input type="submit" value="Enviar">
   </form>
